{% extends 'index/layout.html' %}

{% block title %}
География
{% endblock %}

{% block content %}

<table>
    <tr>
        <th>Город</th>
        <th>Уровень зарплат</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.city }}</td>
        <td>{{ item.value }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Город</th>
        <th>Доля вакансий</th>
    </tr>
    {% for item in data1 %}
    <tr>
        <td>{{ item.city }}</td>
        <td>{{ item.value }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Графики</h2>
{% for n in img %}
    <img src="{{ n.image.url }}"  alt=""/>
{% endfor %}

{% endblock %}