{% extends 'index/layout.html' %}

{% block title %}
Востребованность
{% endblock %}

{% block content %}

<h1>Аналитика по зарплатам для профессии {{ prof }}</h1>
    <h2>Статистика по годам</h2>
    <table>
      <tr>
        <th>Год</th>
          <th>Средняя зарплата</th>
        <th>Средняя зарплата - {{ prof }}</th>
        <th>Количество вакансий</th>
          <th>Количество вакансий - {{ prof }}</th>
      </tr>
        {% for item in data %}
      <tr>
        <td>{{ item.year }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.salary_by_prof }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.count_by_prof }}</td>
      </tr>
        {% endfor %}
    </table>
<h2>Графики</h2>
{% endblock %}



{% block graf %}
{% for n in img %}
    <img src="{{ n.image.url }}"  alt=""/>
{% endfor %}
{% endblock %}