{% extends 'index/layout.html' %}

{% block title %}
Последние вакансии
{% endblock %}

{% block content %}

{% for item in data %}
    {% if item.type == 1 %}
        <h1> {{ item.text }} </h1>
    {% elif item.type == 2 %}
        <h2> {{ item.text }} </h2>
    {% else %}
        <p> {{ item.text }}</p>
    {% endif %}
    {% if item.has_picture %}
    <br>
    <a href="https://hh.ru"><img src="{{ item.image.url }}" width="100" height="100"></a>
    <br>
    {% endif %}
    <br>
{% endfor %}

<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Навыки</th>
        <th>Компания</th>
        <th>Оклад от</th>
        <th>Оклад до</th>
        <th>Валюта</th>
        <th>Название региона</th>
        <th>Время публикации (сегодня)</th>
    </tr>
    {% for item in table %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.skills }}</td>
        <td>{{ item.employer }}</td>
        <td>{{ item.salary_from }}</td>
        <td>{{ item.salary_to }}</td>
        <td>{{ item.salary_currency }}</td>
        <td>{{ item.area }}</td>
        <td>{{ item.published_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

